<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>פעילויות</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar
      placeholder="חיפוש"
      (ionInput)="filterItems($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!items">
    <button ion-item (click)="itemTapped()">אחר</button>
    <ion-item-group *ngFor="let group of categoryItems">
      <ion-item-divider color="light">{{ group.category }}</ion-item-divider>
      <button ion-item *ngFor="let item of group.items" (click)="itemTapped(item)">
        {{item.title}}
        <div class="item-note" item-right>
          {{item.note}}
        </div>
      </button>
    </ion-item-group>
  </div>

  <ion-list *ngIf="items">
    <button ion-item *ngFor="let item of items" (click)="itemTapped(item)">
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
</ion-content>
