<ion-header>
  <ion-navbar color="primary">
    <ion-title>הסטודיו של דליה</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab top left edge>
    <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="goToSportList()"><ion-icon name="bicycle"></ion-icon></button>
      <button ion-fab (click)="goToFoodList()"><ion-icon name="cafe"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-item-group *ngFor="let day of activities; first as isToday;">
      <ion-item-divider color="light">
        {{ day.dateFormatted }}
        <ion-badge *ngIf="isToday">היום</ion-badge>
      </ion-item-divider>

      <actionRenderer *ngFor="let action of day.actions" [action]="action" [date]="day.date"></actionRenderer>
      <activityRenderer *ngFor="let activity of day.activities" [activity]="activity"></activityRenderer>
    </ion-item-group>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(fetchActivities())">
    <ion-infinite-scroll-content
      loadingSpinner="dots">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar start color="light" *ngIf="caloriesBankPts">
    <p>בנק קלוריות שבועי: {{ caloriesBankPts | number }}</p>
    <p>תחזית שינוי משקל: {{ caloriesForecast | number:'1.0-1' }} גרם</p>
    <ion-buttons end>
      <button ion-button icon-only (click)="showCaloriesBankHelpText($event)">
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
